* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Epilogue", sans-serif;
}
h1 {
  font-size: 6rem;
}

/* ------------NAV-------------- */
.navbar-toggler {
  border: none;
  box-shadow: none;
}

/* ------------HERO---------- */
.hero {
  padding: 10rem;
}
.hero h3 {
  margin-bottom: 2rem;
}
.logo-items-container {
  text-align: center;
}
.logo-items-container img {
  max-width: 8rem;
  height: auto;
}
